{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-md-4 refine-section">
        <form method="POST">
            <div class="row refine-div">
                <h3>Refine your results</h3>
                {{ form.hidden_tag() }}

                {{ form.min_date.label(class="form-control-label my-2") }}
                {{ form.min_date(class="form-control form-control-sm my-2") }}

                {{ form.max_date.label(class="form-control-label my-2") }}
                {{ form.max_date(class="form-control form-control-sm my-2") }}

                {{ form.value.label( class="form-control-label my-2 mr-2") }}
                {{ form.value(id="value-select", class="form-select w-75 my-2") }}
                
                </br>

                {{ form.submit(class="btn my-2") }}
            </div>
        </form>
    </div>

    <script>
        document.getElementById("value-select").firstChild.setAttribute("disabled", "true");
        document.getElementById("value-select").firstChild.setAttribute("selected", "true");
    </script>

    <div class="col-md-7 results-div">
    
        <h3 id="results-title">{{ category }}</h3>

        {% for result in results %}

            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="clue-value">
                            <p>{{ result.value }}</p>
                        </div>
                        <div class="clue-airdate">
                            <p>{{ result.airdate[0:10] }}</p>
                        </div>
                    </div>
                    <h4 class="card-title">{{ result.question }}</h4>
                    <button type="button" class="btn" data-toggle="modal" data-target="#modal-{{ result.id }}">What is...</button>
                </div>
            </div>

            <div class="modal fade" id="modal-{{ result.id }}" tabindex="-1" role="dialog" aria-labelledby="clue-modal-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="clue-modal-label">{{ result.question }}</h5>
                        </div>
                        <div class="modal-body">
                            <p>What is... <strong>{{ result.answer }}</strong></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
</div>


{% endblock content %}