{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
    <h2 class="display-4">jTrivia: a trivia app that lets you explore Jeopardy trivia questions!</h2>
    <p class="lead">You can search for Jeopardy questions by category and further refine your results.</p>
    <hr class="my-4">

    <form method="POST">
        <div class="row my-3 justify-content-center">
        {{ form.hidden_tag() }}
        {{ form.select.label(class="form-control-label mr-3") }}
        {{ form.select(id="category-select", class="form-select") }}
        </div>
        <div class="row my-3 justify-content-center">
        {{ form.submit(class="btn") }}
        </div>
    </form>
        
</div>

<script>
    document.getElementById("category-select").firstChild.setAttribute("disabled", "true");
    document.getElementById("category-select").firstChild.setAttribute("selected", "true");
</script>


{% endblock content %}